---
import { SignedIn, SignedOut, SignInButton, SignOutButton, UserButton } from "@clerk/astro/components";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <SignedOut>
        <h1> No estas logeado </h1>
        <SignInButton mode="modal"/>
    </SignedOut>
    <SignedIn>
        <h1> Ya estas logeado </h1>
        <UserButton />
    </SignedIn>
</MainLayout>
