---
import { SignIn, SignedOut, SignInButton, SignOutButton, UserButton } from "@clerk/astro/components";
import MainLayout from "../layouts/MainLayout.astro";
---
<SignedOut>
    <h1> You are not logged in </h1>
    <SignInButton class="btn btn-primary btn-block" mode="modal">
</SignedOut>
<SignIn path="/profile"/>
    <h1> Ya estas logeado </h1>
    <SignOutButton>Cerrar Sesion</SignOutButton>
</SignIn>

<h1>Test</h1>
<UserButton></UserButton>