---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="login">
	<form class="card w-96 bg-base-100 shadow-sm m-auto mt-52 border-2 border-primary">
		<div class="card-body">
			<div class="flex justify-center mb-10">
				<h2 class="text-3xl font-bold">Login</h2>
			</div>
			<div class="">
				<!--Input mail -->
				<label class="input validator">
					<svg
						class="h-[1em] opacity-50"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 24 24"><g
							stroke-linejoin="round"
							stroke-linecap="round"
							stroke-width="2.5"
							fill="none"
							stroke="currentColor"
						>
							<rect width="20" height="16" x="2" y="4" rx="2"
							></rect>
							<path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"
							></path>
						</g>
					</svg>
					<input type="email" placeholder="mail@site.com" required />
				</label>
				<div class="validator-hint hidden">
					Enter valid email address
				</div>
				<div class="divider">Si no estás registrado puedes registrarte <a class="text-blue-500" href="/register">aquí</a></div>
				<!--Input mail -->
				<input type="password" placeholder="Type ur passwd" class="input" />
			</div>
			<div class="mt-6">
				<button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button
				>
			</div>
		</div>
	</form>
</MainLayout>
